<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.39">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.7.1"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.7.1">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options>
        <string>skipStagesAfterUnstable</string>
      </options>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.multibranch.BranchJobProperty plugin="workflow-multibranch@2.22">
      <branch plugin="branch-api@2.5.9">
        <sourceId>35097005-301f-4a95-a0a7-e6df6f578189</sourceId>
        <head class="org.jenkinsci.plugins.github_branch_source.BranchSCMHead" plugin="github-branch-source@2.8.3">
          <name>Feature_02_Dockerize_kube_ansible_jenkins</name>
        </head>
        <scm class="hudson.plugins.git.GitSCM" plugin="git@4.3.0">
          <configVersion>2</configVersion>
          <userRemoteConfigs>
            <hudson.plugins.git.UserRemoteConfig>
              <name>origin</name>
              <refspec>+refs/heads/Feature_02_Dockerize_kube_ansible_jenkins:refs/remotes/origin/Feature_02_Dockerize_kube_ansible_jenkins</refspec>
              <url>https://github.com/zealtechlab/CD_Sample_Python.git</url>
            </hudson.plugins.git.UserRemoteConfig>
          </userRemoteConfigs>
          <branches class="singleton-list">
            <hudson.plugins.git.BranchSpec>
              <name>Feature_02_Dockerize_kube_ansible_jenkins</name>
            </hudson.plugins.git.BranchSpec>
          </branches>
          <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
          <browser class="hudson.plugins.git.browser.GithubWeb">
            <url>https://github.com/zealtechlab/CD_Sample_Python</url>
          </browser>
          <submoduleCfg class="empty-list"/>
          <extensions>
            <jenkins.plugins.git.GitSCMSourceDefaults>
              <includeTags>false</includeTags>
            </jenkins.plugins.git.GitSCMSourceDefaults>
          </extensions>
        </scm>
        <properties/>
        <actions>
          <org.jenkinsci.plugins.github__branch__source.GitHubLink plugin="github-branch-source@2.8.3">
            <iconClassName>icon-github-branch</iconClassName>
            <url>https://github.com/zealtechlab/CD_Sample_Python/tree/Feature_02_Dockerize_kube_ansible_jenkins</url>
          </org.jenkinsci.plugins.github__branch__source.GitHubLink>
          <jenkins.scm.api.metadata.ObjectMetadataAction plugin="scm-api@2.6.3">
            <objectDisplayName>Feature_02_Dockerize_kube_ansible_jenkins</objectDisplayName>
            <objectUrl>https://github.com/zealtechlab/CD_Sample_Python/tree/Feature_02_Dockerize_kube_ansible_jenkins</objectUrl>
          </jenkins.scm.api.metadata.ObjectMetadataAction>
        </actions>
      </branch>
    </org.jenkinsci.plugins.workflow.multibranch.BranchJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.multibranch.SCMBinder" plugin="workflow-multibranch@2.22">
    <scriptPath>Jenkinsfile</scriptPath>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>